<!DOCTYPE html>
<html>


<head lang="en">
    <meta charset="UTF-8">
    <title>我的訂單</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link href="../static/css/myOrder.css" rel="Stylesheet" />
    <link rel="icon" href="../static/images/index/py.ico">
    <script src="../static/js/init.js"></script>

</head>

<body>
    <!-- 頁面頂部-->
    <header id="header"></header>
    <!-- 我的訂單導航欄-->
    <div id="nav_order">

    </div>
    <!--我的訂單內容區域 #container-->
    <div id="container" class="clearfix">
        <!-- 左邊欄-->
        <div id="leftsidebar_box" class="lf">
            <div class="line"></div>
            <dl class="my_order">
                <dt >我的訂單
                    <img src="../static/images/myOrder/myOrder2.png">
                </dt>
                <dd id="all_orders" class="first_dd"><span>全部訂單</span></dd>
                <dd>
                    <span id="obligation" href="#">
                        待付款
                        <span></span>
                    </span>
                </dd>
                  <dd>
                    <span id="undelivered" href="#">
                        待發貨
                        <span></span>
                    </span>
                </dd>
                <dd>
                    <span id="wait_receiving" href="#">
                        待收貨
                        <span></span>
                    </span>
                </dd>

                 <dd>
                    <span id="finished" href="#">
                         已完成
                        <span></span>
                    </span>
                </dd>

            </dl>
            <dl class="footMark">
                <dt >我的優惠券<img src="../static/images/myOrder/myOrder1.png"></dt>
            </dl>
            <dl class="address">
                <dt>收貨地址<img src="../static/images/myOrder/myOrder1.png"></dt>
                <dd><a href="addressAdmin.html">地址管理</a></dd>
            </dl>
            <dl class="count_managment">
                <dt >帳號管理<img src="../static/images/myOrder/myOrder1.png"></dt>
                <!--<dd class="first_dd"><a href="personage.html">我的信息</a></dd>-->
                <dd><a href="personal_password.html">安全管理</a></dd>
            </dl>
        </div>-->
        <!-- 右邊攔-->
        <div class="rightsidebar_box rt">
            <!-- 訂單列表項 -->
        </div>
    </div>
    <footer id="footer"></footer>
</body>
<script type="text/javascript" src="../static/js/jquery-3.1.1.min.js"></script>
<script src="../static/js/index.js"></script>
<script src="../static/js/jquery.page.js"></script>
<script type="text/javascript" src="../static/js/order.js"></script>
<script>
    window.onload = function(){
        getData(0)
    }
</script>

</html>
