<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>確認訂單-DaiLee</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link href="../static/css/orderConfirm.css" rel="Stylesheet" />
    <link href="../static/css/personage.css" rel="Stylesheet" />
    <link rel="icon" href="../images/index/py.ico">
    <script src="../static/js/init.js"></script>
</head>

<body>
    <!-- 頁面頂部-->
    <header id="header"></header>
    <div id="navlist">
        <ul>
            <li class="navlist_blue_left"></li>
            <li class="navlist_blue">確認訂單信息</li>
            <li class="navlist_blue_arro"><canvas id="canvas_blue" width="20" height="38"></canvas>
            </li>
            <li class="navlist_gray">支付訂單<b></b></li>
            <li class="navlist_gray_arro"><canvas id="canvas_gray" width="20" height="38"></canvas>
            </li>
            <li class="navlist_gray">支付完成<b></b></li>
            <li class="navlist_gray_right"></li>
        </ul>
    </div>
    <!--訂單確認-->
    <div id="container" class="clear">
        <!--收貨地址-->
        <div class="adress_choice">
        </div>
        <!-- 商品信息-->
        <form name="" method="post" action="#">
            <div class="product_confirm">
                <p>確認商品信息</p>
                <ul class="item_title">
                    <li class="p_info">商品信息</li>
                    <li class="p_price">單價(元)</li>
                    <li class="p_count">數量</li>
                    <li class="p_tPrice">金額</li>
                </ul>
            </div>
        </form>
        <!-- 結算條-->
        <div id="count_bar">
            <span class="go_cart"><a href="cart.html">&lt;&lt;返回購物車</a></span>
            <span class="count_bar_info">共<b id="count"> 0 </b>件商品&nbsp;&nbsp;合計:<b class="zj"></b> <input
                    type="hidden" name="Payment" value="" />元</span>
            <span class="go_pay" id="go_pay">確認並付款</span>
        </div>
    </div>
    <!--標題欄-->
    <div class="modal" style="display:none">
        <!--收貨人信息填寫欄-->
        <div class="rs_content rs_content_1">
            <p class="cha">×</p>
            <form method="post" action="">
                <!--收貨人姓名-->
                <div class="recipients">
                    <span class="kuan"><span class="red">*</span>收貨人：</span>
                    <input type="text" name="receiverName" id="receiverName" />
                </div>
                <!--收貨人所在城市信息-->
                <div data-toggle="distpicker" class="address_content">
                    <span class="kuan"><span class="red">*</span>市：</span>
                    城市：<select data-city="---- 選擇市 ----" id="receiverCity">
                    </select>
                    區：<select data-district="---- 選擇區 ----" id="receiverDistrict">
                    </select>
                </div>
                <!--收貨人詳細地址-->
                <div class="address_particular">
                    <span class="kuan"><span class="red">*</span>詳細地址：</span>
                    <textarea name="receiverAddress" id="receiverAddress" cols="60" rows="3" placeholder="建議您如實填寫詳細收貨地址"></textarea>

                </div>
                <!--收貨人地址-->
                <div class="address_tel">
                    <span class="kuan"><span class="red">*</span>手機號碼：</span>
                    <input type="tel" id="receiverMobile" name="receiverMobile" />
		</div>
                <!--郵遞區號-->
                <div class="address_postcode">
                    <span class="kuan"><span class="red">*</span>郵遞區號：</span>
                    <input type="text" id="receiverZip" name="receiverZip" />
                </div>
                <!--地址名稱-->
                <div class="address_name">
                    <span class="kuan"><span class="red">*</span>地址名稱：</span>
                    <input type="text" id="addressName" name="addressName" />如：<span class="sp">家</span><span
                        class="sp">公司</span><span class="sp">宿舍</span>
                </div>
                <!--保存收貨人信息-->
                <div class="save_recipient">
                    保存收貨人信息
                </div>
            </form>
        </div>
    </div>
    <footer id="footer"></footer>
    <script src="../static/js/jquery-3.1.1.min.js"></script>
    <script src="../static/js/index.js"></script>
    
    <script src="../static/js/distpicker.data.js"></script>
    <script src="../static/js/distpicker.js"></script>
    <script src="../static/js/orderconfirm.js"></script>
    <script>
        (function ($) {

        })(jQuery)
    </script>
</body>
</html>
